body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  margin: 0;
  padding: 0;
}

header {
  background: #d1006b;
  padding: 18px;
  text-align: center;
  color: white;
  font-size: 24px;
}

main {
  padding: 20px;
}

.section {
  margin-bottom: 20px;
}

.sizes label,
.options label {
  display: block;
  padding: 8px 0;
  font-size: 18px;
}

input[type="text"], select {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.total-box {
  font-size: 28px;
  background: white;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  margin-top: 25px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

#enviarPedido {
  width: 100%;
  padding: 18px;
  font-size: 20px;
  background: #d1006b;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 25px;
  cursor: pointer;
}

#enviarPedido:active {
  transform: scale(0.97);
}

.option-disabled {
  opacity: .4;
  pointer-events: none;
}
