body {
  font-family: Arial;
  padding: 20px;
  background: #fff;
}

h1, h2 {
  text-align: center;
}

.campo input {
  padding: 12px;
  margin: 5px;
  width: 47%;
  font-size: 18px;
}

.fila {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

button {
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background: #e6e6e6;
}

button.selected {
  background: #ff6ec7;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  margin-bottom: 15px;
}

.extras {
  text-align: center;
  margin-bottom: 20px;
}

.enviar {
  background: #34c759;
  color: white;
  width: 100%;
  padding: 15px;
  font-size: 22px;
}

#msg {
  margin-top: 15px;
  text-align: center;
  font-size: 20px;
}
